body {
    font-family: Roboto;
}

.sup-banner {
    display: none;
}

#top-nav-bar {
    align-items: center;
    background-color: #F0A83E;
    color: #ffffff;
    display: flex;
    font-size: 13px;
    height: 10vh;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
}

#top-nav-bar img {
    height: 19px;
    width: 132px;
}

#top-nav-bar ul {
    display: none;
}

.fa-bars {
    font-size: 1.8rem;
}

#hero {
    background-image: url(../img/bowl-and-pet-daities-on-green-background\ 1.png);
    background-repeat: no-repeat;
    height: 409px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

#hero h1 {
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    background-color: white;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    margin: 0px;
}

#hero p {
    font-size: 19px;
    margin: 12px;
}

#hero div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 10px;
}

#hero a {
    background-color: #F0A83E;
    padding: 15px 23px;
    color: white;
    font-size: 19px;
    border: 0px;
    border-radius: 5px;
}

#hero div :any-link {
    color: #ffffff;
    text-decoration: none;
}

#main-title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 25px;
}

#main-title p {
    font-size: 40px;
    font-weight: 700;
    line-height: 46.88 px;
    padding: 0px;
    margin: 10px;
    text-align: center;
}

#main-title ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
    gap: 10px;
}

#main-title ul li {
    font-size: 13px;
}

#main-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 1000px;
    gap 25px;
    margin: 49px 95px 0px 95px
}

.cards {
    background-color: #FBFAF6;
    height: 312px;
    width: 245px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0px;
}

.cards img {
    width: 245px;
}

.card-title {
    color: #3C2313;
    padding: 0px;
    margin: 0px;
    font-size: 15px;
    font-weight: 500;
    line-height: 17.58px;
}

.card-price {
    color: #F0A83E;
    padding: 0px;
    margin: 0px;
    font-size: 15px;
    font-weight: 500;
    line-height: 17.58px;
}

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0px;
    margin-top: 50px;
    font-size: 25px;
    font-weight: 700;
    line-height: 29.3px;
}

#contact form {
    margin-top: -20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#contact form input {
    background-color: #3C2313;
    font-size: 9px;
    color: white;
    text-align: left;
    width: 260px;
    height: 40px;
    margin-top: 10px;
    border-radius: 15px;
    font-weight: 400;
    padding-left: 14.11px;
    border: 0px;
}

#contact form input::placeholder {
    color: #FBFAF6;
    font-weight: 400;
    font-size: 9px;
}

#contact-buttons {
    display: flex;
    margin-top: 41px;
    justify-content: space-between;
    width: 226px;
}

#contact-reset-button {
    width: 110px;
    height: 34px;
    border-radius: 15px;
    border: 0px;
    background-color: #8A8787;
    font-size: 16px;
    color: white;
    font-weight: 400;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact-send-button {
    width: 110px;
    height: 34px;
    border-radius: 15px;
    border: 0px;
    background-color: #F0A83E;
    font-size: 16px;
    color: white;
    font-weight: 400;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer header {
    background-color: #F0A83E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120px;
    margin-top: 75px;
}

#suscription-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

footer header img {
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

footer header div h4 {
font-size: 15px;
font-weight: 700;
color: white;
}

#suscription-form form {
    display: flex;
    justify-content: center;
    align-items: center;
}

#suscription-form input {
height: 40px;
border-radius: 15px;
border: 0px;

}

#suscription-form input::placeholder {
    font-size: 9px;
    color: #A0A0A0;
}

#suscription-button {
    height: 34px;
    width: 70px;
    border-radius: 15px;
    border: 0px;
    background-color: #3C2313;
    font-size: 9px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-left: 5px;
}

#contact-info {
    background-color: #3C2313;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

}

#contact-cards-box {
    height: 284px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content:space-between;
    padding-top: 23px;
    padding-bottom: 23px;
    padding-left: 70px;
}

.contact-card {
    display: flex;
}

.contact-card-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 25px;
}

.contact-card-text h4 {
    font-size: 20px;
    color: white;
    font-weight: 700;
    line-height: 23.44px;
    margin: 0px;
}

.contact-card-text p {
    font-size: 10px;
    color: #8A8787;
    font-weight: 700;
    line-height: 11.72px;
    margin: 0px
}

#inferior-logo{
    margin-top: 20px;
    height: 18px;
    width: 134px;
}

.bot-banner {
    align-items: center;
    background-color: #000000;
    color: #ffffff;
    display: flex;
    font-size: 12px;
    height: 20px;
    margin: 0px;
    padding: 0px;
    justify-content: center;
}


@media (min-width: 620px) {


.sup-banner {
    align-items: center;
    background-color: #000000;
    color: #ffffff;
    display: flex;
    font-size: 12px;
    height: 20px;
    justify-content: space-between;
    padding-left: 90px;
    padding-right: 50px;
}

.sup-banner p {
    display: flex;
    position: relative;
    }

.sup-banner ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    position: relative;
    width:90px;
}

.sup-banner :any-link {
    color: #ffffff;
    text-decoration: none;
}

.fa-bars {
    display: none;
}

#top-nav-bar img {
    height: 23px;
    width: 166px;
}

#top-nav-bar ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    gap: 20px;
}

#top-nav-bar li {
    display: flex;
}

#top-nav-bar ul img {
    height: 14px;
    width: 15px;
}

#hero h1 {
    font-size: 30px;
}

#main-title ul li {
    font-size: 15px;
}

#main-content {
    height: 1000px;
}

.cards {
    width: 265px;
}

.cards img {
    width: 265px;
}

#contact form input {
    width: 340px;
}

footer header {
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: 60px;
    margin-top: 75px;
}

footer header div h4 {
    font-size: 20px;
    }

#suscription-form form {
        margin-right: 47px;
    }



#contact-info {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

#inferior-logo{
    margin-right: 70px;
    margin-top: 0px;
    width: 166px;
    height: 23px;
}


}

@media (min-width: 1000px) {

#main-content {
    flex-direction: row;
    justify-content: space-between;
    height: auto;
}

}